#aboutUs-banner {
    max-width: 100%;
    min-height: 150px;
    padding: 45px;
    text-align: center;
    background-color: #009f46;


    h1 {
        margin: 0;
        font-size: 2.5rem;
        color: #F0AD4E;
    }
}

#aboutUsTextDiv{
    padding: 0 2rem;
    background-color: #f2f2f2;
    padding: 35px 32px;

    h1 {
        color: #F0AD4E;
        font-size: 250%;
    }

    p {
        font-size: 125%;
        color: #2E4C6D;
    }
}