@use "src/styles/_variables.scss" as color;

#aboutUsTextDiv{
    padding: 0 2rem;

    h1 {
        color: color.$secondary;
        font-size: 250%;
    }

    p {
        font-size: 125%;
        color: color.$paragraph;
    }
}