#contactTextDiv{
    width:50%;
}

#contactBoxDiv{
    margin: 0 auto;
    justify-content: center;
}

#ContactBoxContainer{
    width: 100%;
    text-align: center;
    border-style: solid;
    border-color: red;
}