* {
    box-sizing: border-box;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
}

#landingTextDiv{
    width: 50%;
    margin: 0 auto;
}

#landingParagraph{
    font-size: 130%;
}

#sliderDiv{
    margin: 0 auto;
    justify-content: center;
    position: relative;
}

#sliderDiv img {
    max-width: 100%;
    min-width: 50%;
}

#sliderButtonDiv{
    display: flex;
    justify-content: center;
}

.sliderButtonleft {
    font-size: 200%;
    color: white;
    border-radius: 50%;
    width: 50px;
    padding: 5px; 
    position: absolute;
    top: 30%;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sliderButtonright {
    font-size: 200%;
    color: white;
    border-radius: 50%;
    width:50px;
    padding: 5px; 
    position: absolute;
    top: 30%;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sliderButtonright:hover {
    background-color: #bfc1c1;
    transition: 0.5s ease;
}

.sliderButtonleft:hover {
    background-color: #bfc1c1;
    transition: 0.5s ease;
}

.dots {
    height: 13px;
    width: 13px;
    margin: 0 3px;
    background-color: #bfc1c1;
    border-radius: 50%;
    transition: 0.5s ease;
    border: none;
    cursor: pointer;
}

.dotDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 90%;
} 

.dots:hover {
    background-color: #717161;
}


#getQuotecontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid red;
    max-width: 100%;
    width: 300px;
    height: 350px;
    margin: 0 auto;
}


.getQuotebutton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    border: 1px solid red;
}