#home{
    #wrapper{
        margin: 0 auto;
        padding-top: 10px;

        //Image Carasoul
        #sliderDiv{
            margin: 0 auto;
            justify-content: center;
            position: relative;

            @media only screen and (max-width: 720px){     
                #carouselImage{
                    width: 400px;
                }
            }

            #sliderButtonDiv{
                display: flex;
                justify-content: center;

                .sliderButton {
                    font-size: 200%;
                    color: white;
                    border-radius: 50%;
                    width: 50px;
                    padding: 5px; 
                    position: absolute;
                    top: 45%;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                }

                .sliderButton:hover {
                    background-color: #bfc1c1;
                    transition: 0.5s ease;
                }
                
                .leftSlider{
                    left: 0;
                }

                .rightSlider{
                    right: 0;
                }
            }

            .dotDiv {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                position: absolute;
                top: 90%;

                .dots {
                    height: 13px;
                    width: 13px;
                    margin: 0 3px;
                    background-color: #bfc1c1;
                    border-radius: 50%;
                    transition: 0.5s ease;
                    border: none;
                    cursor: pointer;
                }
                .dots:hover {
                    background-color: #717161;
                }
            } 
        }
        
        //Contact Box
        #ContactBoxContainer{     
            text-align: center;
            border-style: groove;
            border-color: red;
            background-color: rgb(249, 231, 231);
            width:100%;

            #internalContactBox{
                a{
                    display: inline;
                }
                #quoteButton{
                    margin-left: auto;
                    padding:20px;
                    border-radius: 15%;
                    border: none;
                    background-color: rgb(81, 70, 232);
                    font-size: 120%;
                    text-align: center;
                    color: white;
                }
                #quoteButton:hover{
                    background-color: rgb(129, 121, 242);
                    cursor: pointer;
                }
            }
        }   
    }
}