* {
    box-sizing: border-box;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
}

#landingTextDiv{
    width: 50%;
    padding: 0 10px;
    margin: 0 auto;
}

#landingParagraph{
    font-size: 130%;
}

#sliderDiv{
    margin: 0 auto;
    justify-content: center;
}

#sliderButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderButton{
    font-size: 130%;
    width:200px;
    gap: 20px;
    padding: 5px;
}