.mapContainer {
   display:flex;
   flex-direction: column;
   background-color: #ffffff;

   .location-page-header {
      background-color:transparent;
      font-size: 2.5rem;
      color: #ffffff;
      padding:.5%;
      margin: 1%;
   }

   .cities-container {
      background-color: #2984b2;
      box-sizing: border-box;
      border-radius: 12px 12px 0px 0px ;
      text-align: center;
      width: auto;
      margin: 5% 3% 0% 3%;
   }
   
   .city-Ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      padding-left: 0%;

      .city-Li {
         box-sizing: border-box;
         font-family: Impact;
         font-size: 2rem;
         color: #ffffff;
         width: auto;
         padding: 1%;
         margin: 0% 10%;
      }
   }
}

.location-page-iframe {
   box-sizing: border-box;
   width: auto;
   height: 400px;
   margin: 0% 3% 0% 3%;
}

.address-container {
   background-color: #2984b2;
   box-sizing: border-box;
   border-radius: 0px 0px 12px 12px;
   width: auto;
   margin: 0% 3% 3% 3%;

   .address-Ul {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      box-sizing: border-box;
      justify-content: center;
      width: auto;
      padding-left: 0%;
      margin: 1%;

      .address-Li {
         font-family: Impact;
         font-size: 2rem;
         width: auto;
         padding: 2%;
      }
      
      .address-Li a:hover {
         color: #000000;
      } 
   }
}