@use "_variables.scss" as mainColor;

.mapContainer {
   display:flex;
   flex-direction: column;
   background-color: #f2f2f2;

   .location-page-header {
      background-color:transparent;
      font-size: 2.5rem;
      color: #ffffff;
      padding:.5%;
      margin: 1%;
   }

   .cities-container {
      background-color: rgb(26, 174, 100);
      box-sizing: border-box;
      text-align: center;
      width: auto;
      margin: 50px 3% 0% 3%;
   }
   
   .city-Ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      padding-left: 0%;

      .city-Li {
         flex-direction: column;
         font-family: Impact;
         font-size: 1.75em;
         color: #ffffff;
         width: auto;
         padding: 1%;
         margin: 0%;
      }
      .city-Li a:hover {
         color: #000000;
      } 

      #tester{
         
      }
   }
}

.location-page-iframe {
   box-sizing: border-box;
   width: auto;
   height: 400px;
   margin: 0% 3% 0% 3%;
}
