@use "_variables.scss" as mainColor;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

//Global attributes
* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

    body {
        position: relative;
        margin: 0;
    
        a,a:visited{
            color:white;
            text-decoration: none;
            display: block;
        }
    }
}

//Containers
.FlexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    //x nav toggle button
    .nav-btn {
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        color: black;
        visibility: hidden;
        opacity: 0;
    }

    //x nav toggle button
    @media only screen and (max-width: 720px){
        .nav-btn {
            visibility: visible;
            opacity: 1;
            font-size: 1.8rem;
        }

        .nav-close-btn {
            position: absolute;
            top: -2rem;
            left: 1rem;
        }
    }

    .paragraphContainer{
        width: 50%;
        margin: 0 auto;
        color: mainColor.$secondary;
    
        h1 {
            font-size: 250%;
        }
        .paragraph{
            font-size: 150%;
            color: mainColor.$paragraph;
        }
    }   
}

//NavBar
#NavBar{
    //Nav button outside of the nav bar (three lines)
    .outside-nav {
        .nav-btn {
            display: none;
            padding: 5px;
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            color: black;
            visibility: hidden;
            opacity: 0;
        }
    }
    @media only screen and (max-width: 720px){
        .outside-nav {
            .nav-btn {
                display: inline-block;
                visibility: visible;
                opacity: 1;
                font-size: 1.8rem;
                position: absolute;
                top: 2rem;
                left: 1rem;
            }
        }
    }

    @media only screen and (max-width: 720px){
        .responsive_nav {
            transform: none;
        }
    }

    #upperNav{
        justify-content: space-between;
        background-color: mainColor.$header;
        
        #logoContainer{
            display: flex;

            #upperNavText{
                color: white;
            }
        }

        @media only screen and (max-width: 720px){
            #logoContainer{
                padding-left: 50px;
            }
        }

        #contactHeader{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: white;
            padding-right: 50px;

            #phoneNumberHeader, #emailHeader{
                display: flex;

                .headerContactText{
                    padding-right: 10px;
                }
    
                .headerContactSource{
                    color: mainColor.$secondary;
                }
            }
        }

        @media only screen and (max-width: 720px){
            #contactHeader{
                flex-direction: row;
                font-size: 80%;
                padding-right: 5px;
            }
            .headerContactText{
                padding-left: 3px;
            }
        }
    }

    nav{
        background-color: mainColor.$primary;
        padding: 1rem;

        #navBarHeader{
            color: mainColor.$primary;
        }

        @media only screen and (max-width: 720px){
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: mainColor.$primary;
            transition: 0.569s;
            transform: translateY(-115%); 
            z-index: 1;

            .FlexContainer {
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: 4rem;
            }
            .navPageItem{padding: 45px;}
        }

        .navButtons{
            position: relative;
            align-items: center;
            flex: auto;
            font-size: 150%;
            border: none;
            background: none;
            background-color: mainColor.$primary;
            transition: all .1s ease-in-out .1s;


            .navPageItem{
                padding-bottom: 10px;
            }
            
            .navPageItem::after {
                position: absolute;
                width: 0%;
                height: 4px;
                content: "";
                bottom: 0;
                left: 0;
                background-color: #fff;
                transition: width 0.5s ease-out;
            }

            .navPageItem:hover.navPageItem::after {
                width: 100%;
            }
        }
    }
}

//Footer
#footerContainer{
    position: relative;

    footer{
        position: absolute;
        width: 100%;
        background-color: mainColor.$primary;
        margin: 0;
        color: white;

        #footerHeading{
            font-size: 300%;
        }

        #footerLinksContainer{
            display: flex;
            text-align: center;
            justify-content: center;
            margin-left: auto;
            padding-right: 18px;

            #footLink{
                list-style-type: none;
            }
            #footLink:hover{
                opacity: 50%;
            }
        }

        @media only screen and (max-width: 720px){
            #footerLinksContainer{
                display: none;
            }
        }

        #clubFooter{
            position: absolute;
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: mainColor.$tertiary;
        
            #gitHubLink:hover{
                opacity: 50%;
            }

            @media only screen and (max-width: 720px){
                h6{
                    font-size: 50%;
                }
            }
        }
    }
}