/*Global*/

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    margin: 0;
}

a,a:visited{
    color:white;
    text-decoration: none;
    display: block;
}

/*Containers*/

.FlexContainer{
    display: flex;
    flex-wrap: wrap;
}

.CenteredFlexContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Header*/

#navBarHeader{
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 200%;
}

#headerContact{
    margin-left: auto;
}

#quoteButton{
    margin-left: auto;
    width:17%;
    border-radius: 18%;
    border: none;
    background-color: rgb(81, 70, 232);
    font-size: 120%;
    text-align: center;
    color: white;
}

#quoteButton:hover{
    background-color: rgb(125, 117, 238);
}

nav{
    background-color: rgb(232, 70, 70);
    padding: 1rem;
}

@media only screen and (max-width: 550px){
    .CenteredFlexContainer {flex-direction: column;}
    .navPageItem{padding: 10px;}
}

.navButtons{
    position: relative;
    align-items: center;
    flex: auto;
    font-size: 150%;
    border: none;
    background: none;
    background-color: rgb(232, 70, 70);
    transition: all .1s ease-in-out .1s;
}

/* Figure out how to make the line cover the length of the text and not the box */
.navPageItem::after {
    position: absolute;
    width: 0%;
    height: 4px;
    content: "";
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: width 0.5s ease-out;
}

.navPageItem:hover.navPageItem::after {
    width: 100%;
}

.navPageItem{
    padding-bottom: 10px;
}

/*Body*/

#wrapper{
    margin: 0 auto;
    padding-top: 10px;
}

/*Footer*/

#footerContainer{
    position: relative;
}

footer{
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 70, 70);
    margin: 30px 0;
    color: white;
}

#footerHeading{
    font-size: 300%;
}

#gitHubLogo:hover{
    opacity: 50%;
}