//Page text
.services-description {
    padding: 20px 20px;
    width: 100%;
    text-align: center;
    background-color: #009f46;
    color: white;
    margin-bottom: 50px;

    h1{
        font-size: 2.5rem;
        margin: 0;
        color: #F0AD4E;
    } 

    p{
        font-size-adjust: 0.5;
        font-size: 125%;
    }
}

//Services pictures
#service-images-container {
    margin: 0 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;


    //Service Image 1

    #serviceImage-1:hover {
        transform: scale(1.03);
    }

    #serviceImage-1 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image1 {
            min-width: 100%;

            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-2:hover {
        transform: scale(1.03);
    }

    #serviceImage-2 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;
    
        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image2 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-3:hover {
        transform: scale(1.03);
    }

    #serviceImage-3 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image3 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-4:hover {
        transform: scale(1.03);
    }

    #serviceImage-4 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image4 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-5:hover {
        transform: scale(1.03);
    }

    #serviceImage-5 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image5 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-6:hover {
        transform: scale(1.03);
    }

    #serviceImage-6 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }  

        #image6 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-7:hover {
        transform: scale(1.03);
    }

    #serviceImage-7 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image7 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }


    #serviceImage-8:hover {
        transform: scale(1.03);
    }

    #serviceImage-8 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }

        #image8 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }

    #serviceImage-9:hover {
        transform: scale(1.03);
    }

    #serviceImage-9 {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {

        }

        span {
            padding: 5px 20px 20px 20px;

        }
        
        #image9 {
            max-width: 100%;
            
            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }
/*
    img {
        max-width: 100%;
        width: 55vh;
        height: 40vh;
        border-radius: 0.25rem;
        object-fit: fill;
        padding: 10px;
    }
*/
}

//Carrier Logos Heading
.logo-heading {
    text-align: center;
    margin-top: 25px;
    background-color: #f2f2f2;

    h1 {
        padding: 20px 0 0 0;
        margin-top: 0px;
        margin-bottom: 0px;    
    }
}

//Carrier logos
#logos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    background-color: #f2f2f2;

    img {
        object-fit: contain;
        max-width: 100%;
        width: 10rem;
        height: 9rem;
        margin: 15px 10px;
        transition: 0.15s
    }

    img:hover {
        transform: scale(1.2);
    }
    
}