@use "_variables.scss" as mainColor;

//Page text
.services-description {
    padding: 20px 0 1px 0;
    max-width: 100%;
    text-align: center;
    background-color: mainColor.$primary;
    color: white;
    min-height: 150px;

    h1{
        font-size: 2.5rem;
        margin: 0;
        color: mainColor.$secondary;
    } 

    p{
        font-size-adjust: 0.5;
        font-size: 118%;
    }
}

//Services Grid
#service-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 50px;
    justify-content: center;
    background-color: #f2f2f2;
    padding-bottom: 50px;

    #serviceImagePane:hover {
        transform: scale(1.03);
    }

    #serviceImagePane {
        max-width: 350px;
        max-height: 600px;
        display: flex;
        flex-direction: column;
        text-align: center;
        box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        margin: 0 10px;

        h4 {
            color: mainColor.$primary;
        }

        span {
            padding: 5px 20px 20px 20px;
        }

        #serviceImage {
            min-width: 100%;

            img{
                max-width: 350px;
                max-height: 300px;
            }
        }
    }
}

//Carrier Logos Heading
.logo-heading {
    padding-top: 10px;
    text-align: center;
    background-color: #eeecec;

    h1 {
        padding: 20px 0 0 0;
        margin-top: 0px;
        margin-bottom: 0px; 
        color: mainColor.$secondary;
    }
}

//Carrier logos
#logos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    justify-content: center;
    background-color: #eeecec;


    img {
        object-fit: contain;
        max-width: 100%;
        width: 10rem;
        height: 9rem;
        margin: 15px 10px;
        transition: 0.15s
    }

    img:hover {
        transform: scale(1.2);
    }
    
}