* {
    box-sizing: border-box;
}

#image-carousel-container {
    width: 750px;
    position: relative;
    margin: auto;
}

.homepage-images {
    width: 75%;
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;

}

.homepage-images img {
    width: 100%;
    min-width: 50%;
    object-fit: cover;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0,0,0,0.8)
}

