.main-container {
   display:flex;
   flex-direction: column;
}

.cities-container {
   box-sizing: border-box;
   background-color: #DCDCDC;
   width: 100%;
}

.city-Ul {
   box-sizing: border-box;
   display: flex;
   padding: 0% 3%;
   margin: 2% 0%;
}

.city-Li {
   font-size: 15px;
   width: 33%;
}

.location-page-iframe {
   box-sizing: border-box;
   width: 100%;
   height: 510px;
}

.address-container {
   box-sizing: border-box;
   background-color: #DCDCDC;
   width: 100%;
}

.address-Ul {
   box-sizing: border-box;
   display: flex;
   padding: 0% 3%;
   margin: 2% 0%;
}

.address-Li {
   display: flex;
   font-size: 15px;
   width: 33%;
}

.location-page-a {
   text-decoration: none;
   color: black;
}

.location-page-h2 {
   text-align: center;
   color: black;
   background-color: #878888;
   margin: 0%;
   padding:1%;
}