.main-container {
   display:flex;
   flex-direction: column;
   background-image: linear-gradient(#1A2238,#ededed);
}

.cities-container {
   background-color: transparent;
   box-sizing: border-box;
   box-shadow: 0px 3px 20px 1px; 
   text-align: center;
   width: auto;
   margin: 0%;
}

.city-Ul {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   justify-content: center;
   padding-left: 0%;
   margin: 2% 0%;
}


.city-Li {
   box-sizing: border-box;
   font-family: Impact;
   font-size: 1.5rem;
   color: #F4DB7D;
   width: auto;
   padding: 1%;
   margin: 0% 10%;
}

.location-page-iframe {
   box-sizing: border-box;
   width: auto;
   height: 400px;
   margin: 0% 3% 0% 3%;
}

.address-container {
   background-color: #1A2238;
   box-sizing: border-box;
   border: 2px solid #1A2238;
   border-radius: 0px 0px 12px 12px;
   width: auto;
   margin: 0% 3% 3% 3%;
}

.address-Ul {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   box-sizing: border-box;
   justify-content: center;
   width: auto;
   padding-left: 0%;
   margin: 1%;
   
}

.address-Li {
   font-family: Impact;
   font-size: 1.5rem;
   width: auto;
   padding: 2%;
}

.address-Li a:hover {
   color: #ff8000;
} 

.location-page-a {
   text-decoration: none;
   color: #F4DB7D
   ;
}

.location-page-h2 {
   background-color: #1A2238;
   font-size: 2rem;
   color: white;
   padding:.5%;
   margin: 0%;
}

.location-page-h3 {
   background-color: #1A2238;
   border-radius: 12px 12px 0px 0px;
   text-align: center;
   font-size: 2rem;
   color: white;
   padding:1%;
   margin: 3% 3% 0% 3%;
}