* {
    box-sizing: border-box;
}

.services-description {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    text-align: center;
}

.services-description p {
    font-size: 1.30rem;
}

#service-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

#service-images-container img {
    max-width: 100%;
    width: 22.5rem;
    height: 22.5rem;
    border-radius: 5px;
    object-fit: cover;
}
