* {
    box-sizing: border-box;
}

h1 {
    font-size: 1.85rem;
}


.services-description {
    padding-left: 1%;
    padding-right: 1%;
    width: 100%;
    text-align: center;
}

.services-description p {
    font-size: 1.30rem;
}

#service-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

#service-images-container img {
    max-width: 100%;
    width: 19.5rem;
    height: 18rem;
    border-radius: 0.25rem;
    object-fit: cover;
    margin-left: 1%;
    margin-right: 1%;
}

/* Logos */
.logo-heading {
    text-align: center;
    margin-top: 50px;
}